{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous?{% endblock %}


{% block body %}
   
       
    <div class="color">
        <div id="hero">
            <div class="layer-bg layer" data-type="parallax" data-depth="0.10"></div>
            <div class="layer-1 layer" data-type="parallax" data-depth="0.20"></div>
            <div class="layer-2 layer" data-type="parallax" data-depth="0.50"></div>
            <div class="layer-3 layer" data-type="parallax" data-depth="0.80"></div>
            <div class="layer-overlay layer" data-type="parallax" data-depth="0.85"></div>
            <div class="layer-4 layer" data-type="parallax" data-depth="1.00"></div>
        </div>

        <div id="hero-mobile"></div>

        <div id="content">
            <div class="container">
                <section class="first-section">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1>Qui sommes-nous?</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Bienvenue sur Manga MarketPlace, la destination ultime pour les amateurs de manga, les collectionneurs et les passionnés de la culture japonaise. Notre histoire commence avec une passion profonde pour le monde du manga et un désir de créer une plateforme où les fans comme vous peuvent explorer, acheter et vendre des œuvres uniques, rares et appréciées.</p>
                            <p>Chez Manga MarketPlace, nous croyons en la puissance de la communauté. Nous nous efforçons de réunir des personnes partageant les mêmes idées pour célébrer leur amour pour le manga. Notre équipe est composée de fans dévoués qui comprennent l'importance de créer un espace où les acheteurs et les vendeurs peuvent se connecter, échanger des histoires et enrichir leurs collections.</p>
                            <p>Ce qui nous distingue, c'est notre engagement envers la qualité et l'authenticité. Nous travaillons avec des vendeurs de confiance et des éditeurs renommés pour vous offrir une sélection exceptionnelle de mangas. Chaque article que vous trouvez sur notre site est soigneusement examiné pour garantir son intégrité et sa valeur.</p>
                        </div>
                        <div class="col-sm-6">
                            <p>Manga MarketPlace est bien plus qu'un simple marché en ligne. C'est une communauté dynamique où vous pouvez échanger des recommandations de lecture. Notre passion pour le manga se reflète dans chaque aspect de notre plateforme, de la navigation à l'expérience d'achat.</p>
                            <p>Nous sommes ravis de vous accueillir dans notre communauté grandissante de fans de manga. Que vous soyez un nouvel arrivant ou un vétéran chevronné, vous trouverez chez Manga MarketPlace un foyer pour votre passion. Explorez nos collections, découvrez de nouvelles séries, interagissez avec d'autres fans et faites de Manga MarketPlace votre destination de choix pour tout ce qui concerne le manga.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div style="height: 50px;"></div>

{% endblock %}