{% extends 'base.html.twig' %}

{% block title %}Conditions Générales d'Utilisation - Manga MarketPlace{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">Conditions Générales d'Utilisation</h1>

        <section>
            <h2>1. Acceptation des Conditions</h2>
            <p>En accédant et en utilisant le site Manga MarketPlace, vous acceptez d'être lié par les présentes Conditions Générales d'Utilisation. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser ce site.</p>
        </section>

        <section>
            <h2>2. Utilisation du Site</h2>
            <p>Vous vous engagez à utiliser ce site conformément à toutes les lois applicables et de manière éthique. Vous ne devez pas utiliser ce site d'une manière qui pourrait causer des dommages, une interruption ou une défaillance du site.</p>
        </section>

        <section>
            <h2>3. Compte Utilisateur</h2>
            <p>La création d'un compte utilisateur peut être nécessaire pour accéder à certaines fonctionnalités du site. Vous êtes responsable de la confidentialité de votre compte et de votre mot de passe. Toutes les activités effectuées sous votre compte sont de votre responsabilité.</p>
        </section>

        <section>
            <h2>4. Contenu Utilisateur</h2>
            <p>En publiant du contenu sur Manga MarketPlace, vous accordez à ce site une licence non exclusive pour utiliser, reproduire, modifier, distribuer et afficher ce contenu. Vous garantissez que vous avez le droit de publier ce contenu et qu'il ne viole aucun droit de tiers.</p>
        </section>

        <section>
            <h2>5. Modifications des CGU</h2>
            <p>Nous nous réservons le droit de modifier ces Conditions Générales d'Utilisation à tout moment. Toute modification prendra effet immédiatement après sa publication sur le site. Nous vous recommandons de consulter régulièrement ces conditions pour rester informé des éventuelles modifications.</p>
        </section>

        <section>
            <h2>6. Contact</h2>
            <p>Si vous avez des questions concernant ces Conditions Générales d'Utilisation, veuillez nous contacter: mangamarketplace.entreprise@gmail.com.</p>
        </section>

    </div>
    <div style="height: 100px;"></div>
{% endblock %}
