{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de Vente - Manga MarketPlace{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">Conditions Générales de Vente</h1>

        <section>
            <h2>1. Champ d'Application</h2>
            <p>Les présentes Conditions Générales de Vente s'appliquent à toutes les transactions de produits effectuées entre utilisateurs sur le site Manga MarketPlace. En participant à une transaction, vous acceptez ces conditions.</p>
        </section>

        <section>
            <h2>2. Ventes entre Particuliers</h2>
            <p>Manga MarketPlace est une plateforme permettant aux utilisateurs de vendre des produits entre eux. Les vendeurs sont des particuliers et ne sont pas des professionnels de la vente. Ainsi, toute transaction est conclue entre particuliers.</p>
        </section>

        <section>
            <h2>3. Responsabilités des Utilisateurs</h2>
            <p>Les utilisateurs sont responsables de la description précise des produits mis en vente, de la fixation des prix, et de la gestion des transactions. Manga MarketPlace n'est pas responsable des litiges entre utilisateurs.</p>
        </section>

        <section>
            <h2>4. Paiement et Frais</h2>
            <p>Les paiements entre utilisateurs sont effectués en dehors de la plateforme. Manga MarketPlace ne facture pas de frais pour les transactions. Nous recommandons l'utilisation de méthodes de paiement sécurisées.</p>
        </section>

        <section>
            <h2>5. Litiges et Remboursements</h2>
            <p>En cas de litige entre acheteur et vendeur, Manga MarketPlace ne sera pas responsable de la résolution du litige. Les utilisateurs sont encouragés à communiquer et à résoudre les problèmes directement entre eux. Tout remboursement est à la discrétion des parties concernées.</p>
        </section>

        <!-- Ajoutez d'autres sections en fonction de vos besoins -->

        <section>
            <h2>6. Modification des CGV</h2>
            <p>Nous nous réservons le droit de modifier ces Conditions Générales de Vente à tout moment. Toute modification prendra effet immédiatement après sa publication sur le site. Nous vous recommandons de consulter régulièrement ces conditions pour rester informé des éventuelles modifications.</p>
        </section>

        <section>
            <h2>7. Contact</h2>
            <p>Si vous avez des questions concernant ces Conditions Générales de Vente, veuillez nous contacter: mangamarketplace.entreprise@gmail.com.</p>
        </section>

    </div>
    <div style="height: 100px;"></div>
{% endblock %}
