{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="text-center">Contactez-nous</h1>
        <p class="lead text-center">N'hésitez pas à nous envoyer un message en utilisant le formulaire ci-dessous :</p>

        <!-- Formulaire de Contact -->
        <form action="mailto:baptiste.boutar@gmail.com" method="post" enctype="text/plain" class="row g-3">
            <div class="col-md-6">
                <label for="name" class="form-label">Nom :</label>
                <input type="text" id="name" name="name" class="form-control" required>
            </div>

            <div class="col-md-6">
                <label for="email" class="form-label">Adresse e-mail :</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>

            <div class="col-12">
                <label for="message" class="form-label">Message :</label>
                <textarea id="message" name="message" class="form-control" rows="4" required></textarea>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
        </form>
    </div>
{% endblock %}
