{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité - Manga MarketPlace{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-primary">Notre Politique de Confidentialité</h1>

        <section id="collecte-informations" class="mt-4">
            <h2>1. Collecte des Informations</h2>
            <p>Nous recueillons des informations telles que votre nom, votre adresse e-mail et d'autres données nécessaires à la fourniture de nos services.</p>
        </section>

        <section id="utilisation-informations" class="mt-4">
            <h2>2. Utilisation des Informations</h2>
            <p>Les informations collectées sont utilisées pour traiter vos commandes, personnaliser votre expérience sur notre plateforme et vous informer de promotions ou mises à jour importantes.</p>
        </section>

        <section id="securite-donnees" class="mt-4">
            <h2>3. Sécurité des Données</h2>
            <p>Nous mettons en place des mesures de sécurité pour protéger vos informations contre tout accès non autorisé, toute divulgation ou destruction.</p>
        </section>

        <section id="partage-donnees" class="mt-4">
            <h2>4. Partage des Données</h2>
            <p>Nous ne partageons vos informations qu'avec des tiers nécessaires à la prestation de nos services, tels que des prestataires de services tiers pour des analyses statistiques.</p>
        </section>

        <section id="cookies" class="mt-4">
            <h2>5. Cookies</h2>
            <p>Notre site utilise des cookies pour améliorer votre expérience de navigation. Vous pouvez désactiver les cookies dans les paramètres de votre navigateur.</p>
        </section>

        <p class="mt-4">Merci de lire attentivement notre politique de confidentialité. Si vous avez des questions, n'hésitez pas à nous contacter.</p>
    </div>
    <div style="height: 100px;"></div>
{% endblock %}
