{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-primary">Notre Politique de Confidentialité</h1>

        <p>Chez Manga Marketplace, nous nous engageons à protéger et respecter votre vie privée. Cette politique explique comment nous collectons, utilisons et protégeons vos informations personnelles conformément au Règlement Général sur la Protection des Données (RGPD).</p>

        <h2 class="mt-4">1. Collecte des Informations</h2>
        <p>Nous recueillons des informations telles que votre nom, votre adresse e-mail et d'autres données nécessaires à la fourniture de nos services.</p>

        <h2 class="mt-4">2. Utilisation des Informations</h2>
        <p>Les informations collectées sont utilisées pour traiter vos commandes, personnaliser votre expérience sur notre plateforme et vous informer de promotions ou mises à jour importantes.</p>

        <h2 class="mt-4">3. Sécurité des Données</h2>
        <p>Nous mettons en place des mesures de sécurité pour protéger vos informations contre tout accès non autorisé, toute divulgation ou destruction.</p>

        <h2 class="mt-4">4. Partage des Données</h2>
        <p>Nous ne partageons vos informations qu'avec des tiers nécessaires à la prestation de nos services, tels que des prestataires de services tiers pour des analyses statistiques.</p>

        <h2 class="mt-4">5. Cookies</h2>
        <p>Notre site utilise des cookies pour améliorer votre expérience de navigation. Vous pouvez désactiver les cookies dans les paramètres de votre navigateur.</p>

        <p class="mt-4">Merci de lire attentivement notre politique de confidentialité. Si vous avez des questions, n'hésitez pas à nous contacter.</p>
    </div>
    <div style="height: 100px;"></div>
{% endblock %}
