{# templates/security/reset_password_request.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="container w-50 mx-auto mt-5">
        <h2 class="text-center">Mot de passe oublié</h2>

        <p>Entrez votre adresse e-mail pour réinitialiser votre mot de passe.</p>

        <form method="post" action="{{ path('forgotten_password') }}">
            <div class="mb-3">
                <label for="email" class="form-label">Adresse e-mail</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="exemple@email.fr" required>
            </div>

            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    </div>
{% endblock %}
